.header__left > img {
  width: 90px;
}

.header,
.header__center,
.header__right,
.header__left,
.header__center > form {
  display: flex;
}
.header {
  justify-content: space-between;
}
.header__left {
  align-items: center;
  width: 275px;
  margin-left: 16px;

  flex: 0.3;
}
.header__left > img {
  margin-left: 1em;
}
.header__left > img:hover {
  cursor: pointer;
}
.header__center {
  width: 100%;
  align-items: center;
  flex: 0.7;
}
.header__right {
  flex: 0.3;
  justify-content: space-evenly;
  align-items: center;
}
.header__center > form > button {
  display: none;
}
.header__center > form {
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
}
.header__center__searchIconContainer {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border: 1px solid #ccc;

  background-color: var(--greyColor);
}

.header__center__searchIconContainer:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.header__center > form > input {
  border: 1px solid #ccc;
  padding-left: 1em;
  width: 100%;
  border-right: none;
}
